@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';

/* カスタムスタイルを追加 */

body, html {
  /* スタイル */
}

#root .container {
  /* スタイル */
}

.navbar.navbar-expand-lg {
  /* スタイル */
}

.text-dark {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

body {
  background-color: rgb(0, 14, 40) !important;
  color: #fff !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* styles/globals.css または components/Footer.js に <style jsx> タグ内で追加 */

#footer {
  color: #fff; /* フッターの文字色 */
  padding: 20px; /* フッターの内側余白 */
  text-align: center; /* テキストの中央揃え */
  position: fixed; /* 固定表示 */
  width: 100%; /* フッターの幅 */
  bottom: 0; /* ページの下部に配置 */
  left: 0;
}

.footer-content {
  max-width: 1200px; /* コンテンツの最大幅 */
  margin: 0 auto; /* 中央揃え */
}

/* styles/globals.css */
.content {
  padding-bottom: 100px; /* フッターの高さを考慮した下部の余白を追加 */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(0, 14, 40); /* 背景色を設定 */
  color: #fff;
}

header {
  background-color: rgb(0, 14, 40);
  padding: 20px 0;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
}

.list-inline {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-inline li {
  margin: 0 10px;
}

.nav-item .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  color: #000;
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.nav-link {
  color: #fff !important;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.fab, .far {
  color: #fff;
}

footer {
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* global.css */


@media (min-width: 576px) {
  .sm\:justify-end {
      justify-content: flex-end;
  }
}
@media (min-width: 576px) {
  .sm\:flex-row {
      flex-direction: row;
  }
}

@media (min-width: 576px) {
  .modal {
      --bs-modal-margin: 6.75rem !important;
      --bs-modal-box-shadow: var(--bs-box-shadow);
  }
}
.button-group {
  display: flex;
  gap: 10px;
}

/* message */
.chat-message {
  background-color: rgb(0, 14, 40);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 60%;
}
.chat-message.sent {
  justify-content: flex-end;
}

.chat-message.received {
  justify-content: flex-start;
}

.chat-message p {
  max-width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.chat-message.sent p {
  background-color: #dcf8c6;
  text-align: right;
}

.chat-message.received p {
  background-color: #fff;
  text-align: left;
}

.fa-icon {
  color: #333;
  font-size: 24px;
  margin-right: 15px;
}

.max-w-lg {
  max-width: 47rem;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.list-group-item {
  margin-bottom: 10px;
  border-radius: 5px;
}

.chat-container {
  margin-top: 0;
  background-color: #ffffff00;
  padding: 0 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-box {
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 5px;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-message {
  background-color: #393e43;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 60%;
}

.chat-input input {
  /*width: calc(100% - 80px);*/
  margin-right: 10px;
}

.chat-input button {
  width: 70px;
}


.navbar-brand img {
  width: 100%;
  max-width: 30px;
}

#header {
background-color: rgb(0, 14, 40);
margin: 0 auto;
}

#header .container {
display: flex;
justify-content: center;
align-items: center;
}

#logo {
margin-right: auto;
}

.navbar {
display: flex;
align-items: center;
}

.list-inline {
display: flex;
list-style: none;
padding: 0;
margin: 0;
}

.list-inline li {
margin: 0 10px;
}

.nav-item .dropdown-toggle::after {
display: none; /* ドロップダウン矢印を非表示にする */
}

.dropdown-menu {
background-color: #fff;
border: none;
border-radius: 0;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
color: #000;
padding: 10px 20px;
}

.dropdown-item:hover {
background-color: #f1f1f1;
}

.nav-link {
color: #fff;
text-decoration: none;
}

.nav-link:hover {
text-decoration: underline;
}

.fab, .far {
color: #fff;
}

/* 他のスタイルの下に追加 */
.modal-footer .btn-group,
.modal-footer .btn-group-vertical {
  display: flex !important;
  justify-content: space-between;
  width: 100%;
}

.modal-footer .btn {
  width: 48%;
  text-align: center;
}

#success-message {
  display: none;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#success-message p {
  margin: 0;
  font-size: 1.2em; /* フォントサイズを少し大きく */
}

.modal.show #success-message {
  display: block;
  opacity: 1;
}


/*----------------------------------------
  grid start
-----------------------------------------*/
.container a {
  color: #fff;
  text-decoration-line: none;
}
.container {
  color: #fff;
  text-decoration-line: none;
}
.container p{
  color: #fff;
  text-decoration-line: none;
}
.grid_row
{
display: block;
flex-basis: 0;
margin: 0 auto;
}

.grid_row .row {
border-bottom: 1px solid #ddd;
text-align: left;
padding: .5rem;
}
.row_first {
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: 0px;
margin-left: 0px;
}
.grid_row .row_first {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
text-align: left;
padding: .5rem;
}
@media (min-width: 1200px){
.row_first {
margin-right: -15px;
margin-left: -15px;
}
}
@media (min-width: 1200px){
.row {
margin-right: -15px;
margin-left: -15px;
}
}
.row.toybox {
background-color: rgb(36 47 59 / 0.5);
}

/*----------------------------------------
grid end
-----------------------------------------*/