openapi: 3.0.3
info:
  title: Google Calendar (Minimal)
  version: 1.0.0
  description: |
    Minimal OpenAPI for creating events in Google Calendar.
    - Auth: Bearer access token (OAuth2) in Authorization header.
    - Get access_token via OAuth 2.0 Refresh Token flow (outside of this spec), e.g. POST https://oauth2.googleapis.com/token
servers:
  - url: https://www.googleapis.com
paths:
  /calendar/v3/calendars/{calendarId}/events:
    post:
      operationId: createEvent
      summary: Create an event
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: calendarId
          required: true
          schema:
            type: string
          description: Calendar ID (use 'primary' for the primary calendar)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
            examples:
              simple:
                summary: Simple meeting
                value:
                  summary: "打ち合わせ"
                  description: "議題: リリース準備"
                  start:
                    dateTime: "2025-10-27T10:00:00+09:00"
                    timeZone: "Asia/Tokyo"
                  end:
                    dateTime: "2025-10-27T11:00:00+09:00"
                    timeZone: "Asia/Tokyo"
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventResponse'
        '400': { description: Bad request }
        '401': { description: Unauthorized }
        '403': { description: Forbidden }
        '404': { description: Not found }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Event:
      type: object
      properties:
        summary:
          type: string
        description:
          type: string
        start:
          type: object
          required: [dateTime]
          properties:
            dateTime: { type: string, description: ISO 8601 date-time }
            timeZone: { type: string }
        end:
          type: object
          required: [dateTime]
          properties:
            dateTime: { type: string, description: ISO 8601 date-time }
            timeZone: { type: string }
        attendees:
          type: array
          items:
            type: object
            properties:
              email: { type: string }
    EventResponse:
      type: object
      properties:
        id: { type: string }
        htmlLink: { type: string }
        summary: { type: string }
        start:
          type: object
          properties:
            dateTime: { type: string }
            timeZone: { type: string }
        end:
          type: object
          properties:
            dateTime: { type: string }
            timeZone: { type: string }
